<h1>Import {{bank}} Finished</h1>
<p>Imported {{ newTransactions.length }} transactions</p>
{{>transaction-table transactions=newTransactions}}
<hr>
<p>Not imported {{ duplicateTransactions.length }} transactions</p>
{{>transaction-table transactions=duplicateTransactions}}