<h1>Import {{bank}}</h1>
<form action="/import/csv/{{bank}}" method="post" enctype="multipart/form-data">
    <input type="file" name="csv" id="csv" accept=".csv">
    <button type="submit" class="pure-button">Start Import</button>
</form>