<h1>Import DKB</h1>
<form action="/import/dkb" method="post" enctype="multipart/form-data">
    <input type="file" name="dkb_csv" id="dkb_csv" accept=".csv">
    <button type="submit" class="pure-button">Start Import</button>
</form>